p{
  width: 100px;
  right: 100px;
  background: red;  
}
.one{
    background:blue;
}
.two{
    background: blue;
}
.three{
    background: blue;
}
.four{
    opacity: 0.4;
}
.five{
    opacity: 0.2;
}